{% load static %}
<!doctype html>
<html>
<head>
	<style>
		*{
			margin:0;
			padding: 0;
		}
		.block{
			margin-top: 10%;
			font-size: 24px;
			border:2px solid black;
			border-radius: 20px;
			margin-left: 30%;
			margin-right: 30%;
			height: 24rem; 
		}
		.block input{
			margin-top: 2rem;
			font-size: 17px;
		}
		#subs{
			font-size: 26px;
			background-color: skyblue;
			border-color:white;
		}
		#subs {
			padding: 6px;
		}
		#subs:focus{
			outline:none;
		}
	</style>
	</head>
	<body>
		<center>
			
			<div class = "block">
				<h2>Register Page</h2>
				<form action = "{% url 'registerform' %}" method = "POST">
                    {% csrf_token %}
					<label>Username : </label>
					<input type = "text" name = "uname" placeholder = "Enter Username">
						<br>
					<label>Email : </label>
					<input type = "text" name = "email" placeholder = "Enter Email Address">
						<br>
					<label>Password : </label>
					<input type = "password" name = "pass1" placeholder = "Password">
						<br>
					<label>Confirm Password : </label>
					<input type = "password" name = "pass2" placeholder = "Confirm Password">
                        <br>
                        
                    <input type = "submit" id = "subs">
                    
				</form>


			</div>
			<a href = "{% url 'userslist' %}"><button id = "subs">Users List</button></a>

		</center>
	</body>
</html>